@tailwind base;
@tailwind components;
@tailwind utilities;


/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  src: url('https://fonts.googleapis.com/css?family=Poppins');
}


:root {
  --text-white: #fff;
}


html {
  font-family: 'Poppins', sans-serif;
}

body {
  color: var(--text-white);
}

.center-item {
  display: flex;
  justify-content: center;
  align-items: center;
}